<br>
<hr>
<h1>Admin Control Panel</h1>
<hr>
<h4>From here, you can navigate to the pages that allow you to make changes to the databases.</h4>
<hr>
<table class="controlTable">
  <td>
    <button (click)="performAction('view')" class="btn btn-primary">View Database</button>
  </td>
  <td>
    <button (click)="performAction('add')" class="btn btn-primary">Add to Database</button>
  </td>
  <td>
    <button (click)="performAction('logout')" class="btn btn-danger">Logout</button>
  </td>
</table>

<table class="controlTable">
  <td>
    <button (click)="performAction('password')" class="btn btn-primary">Change password</button>
  </td>
  <td>
    <button (click)="performAction('email')" class="btn btn-primary">Change email</button>
  </td>
</table>
