<!-- Footer -->
<footer class="page-footer font-small text-white pt-4 bg-primary">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">{{ title }}</h5>
          <a>Here at {{ title }} we value good, high quality ingredients to put into your food.</a>
          <a>If you are unsatisfied with your order, please contact us and let us know!</a>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>
            <hr>
            <ul class="list-unstyled white">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"><fa name="address-book"></fa>&nbsp;Contact us</h5>
            <hr>
            <ul class="list-unstyled">
              <li>
                <a href="mailto: FastFoodWebApp@gmail.com"><fa name="envelope"></fa>&nbsp;FastFoodWebApp@gmail.com</a>
              </li>
              <li>
                  <a><fa name="phone"></fa>&nbsp;&nbsp;0777777777</a>
                </li>
              <li>
                  <a><fa name="home"></fa>&nbsp;University of Plymouth, </a>
                </li>
              <li>
                  <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drake Circus, Plymouth,</a>
              </li>
              <li>
                  <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PL48AA</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      {{ title }}

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
