/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 70px;
}

.highIndex  {
  z-index: 200000;
}

.lowIndex {
  z-index: 0;
}
/*
#container {
  padding-top: 70px;
  min-height: 100%;
  position: relative;
}

#wrapper {
  position: relative;
  height: 100%;
  padding-bottom: 250px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0px;
  height: 220px;
  padding-bottom: 217px;
} */
