<ng2-slim-loading-bar color="white" [height]="'8px'"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-primary sticky highIndex">
    <a class="navbar-brand text-white">{{ title }}</a>
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink="home" class="nav-link text-white" routerLinkActive="active">
              Home
            </a>
          </li>
        <li class="nav-item">
            <a routerLink="menu" class="nav-link text-white" routerLinkActive="active">
              Food menu
            </a>
          </li>
    </ul>
    <ul class="navbar-nav" *ngIf="loggedUser !== ''  && adminLoggedIn === 'true'">
        <li class="nav-item">
            <a routerLink="checkout" class="nav-link text-white" routerLinkActive="active">
              <app-cartshowcase></app-cartshowcase>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="adminCP" class="nav-link text-white" routerLinkActive="active">
              AdminCP
            </a>
          </li>
      </ul>
      <ul class="navbar-nav" *ngIf="loggedUser !== ''  && adminLoggedIn === 'false'">
        <li class="nav-item">
            <a routerLink="checkout" class="nav-link text-white" routerLinkActive="active">
              <app-cartshowcase></app-cartshowcase>
            </a>
          </li>
          <li class="nav-item">
            <a href="" (click)="doLogout()" class="nav-link text-white">
              Logout
            </a>
          </li>
      </ul>
      <ul class="navbar-nav" *ngIf="loggedUser === ''">
        <li class="nav-item">
            <a routerLink="checkout" class="nav-link text-white" routerLinkActive="active">
              <app-cartshowcase></app-cartshowcase>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="accountcreate" class="nav-link text-white" routerLinkActive="active">
              Create account / Login
            </a>
          </li>
      </ul>
  </div>
</nav>

<div class="container lowIndex">
  <router-outlet></router-outlet>
</div>

<br>
<div id="footer" class="needthis">
  <app-footer></app-footer>
</div>


