<br>
<hr>
<h1>Your shopping cart</h1>
<hr>
<div class="tableDiv">
  <table *ngIf="cartContents.length !== 0" class="table table-hover table-striped text-center tableDiv">
      <thead style="font-weight: bold;">
        <td colspan="2">
          <div style="float:left;">
            <button (click) = "emptyCart()" class="btn btn-secondary emptyButton">Empty Cart</button>
          </div>
          Item
        </td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Total</td>
      </thead>
      <tbody>
          <tr *ngFor="let item of cartContents">
            <td>{{ item.item.itemName }}</td>
            <td><img src="{{ item.item.itemPictureLocation }}"/></td>
            <td><button class="btn btn-primary minusButton" (click)="decreaseQuantity(item)">-</button>&nbsp;{{ item.quantity }}&nbsp;<button class="btn btn-primary addButton" (click)="increaseQuantity(item)">+</button></td>
            <td>&pound;{{ item.item.itemPrice }}</td>
            <td>&pound;{{ (item.item.itemPrice * item.quantity).toFixed(2) }}</td>
          </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total cost: &pound;{{ cartDisplayTotal }}</td>
      </tfoot>
    </table>
    <br>
    <div *ngIf="cartContents.length === 0" class="card">
      <h3>Your cart is empty!</h3>
    </div>
</div>

<br>
<div class="paypalControls">
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</div>
