<br>
<h1><p>Menu items</p></h1>
<table class="table table-hover">
  <thead>
  <tr>
      <td>Item name</td>
      <td>Item image URL</td>
      <td>Item price</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let item of items">
          <td>{{ item.itemName }}</td>
          <td>{{ item.itemPictureLocation }}</td>
          <td>{{ item.itemPrice }}</td>
          <td><a (click) = "addToCart(item)" class="btn btn-primary">Add to cart</a></td>
      </tr>
  </tbody>
</table>

<table class="menuTable">
  <td *ngFor="let item of items">
    <div class="itemNameDiv">
      {{ item.itemName }}
    </div>
    <br>
    <img class ="itemImageDiv" src="{{ item.itemPictureLocation }}">
    <br>
    <div class="itemQuantityDiv">
        <select id="{{item._id}}">
            <option *ngFor="let dummy of ' '.repeat(20).split(''), let x = index" value="{{x + 1}}">{{x + 1}}</option>

          </select>
    </div>
    <br>
    <div class="itemPriceDiv">
      &pound;{{ item.itemPrice }} <a (click) = "addToCart(item)" class="btn btn-primary">Add to cart</a>
    </div>
    <br>
  </td>
</table>
